.game-selection-container{
    width: 100%;
    height: 100%;
    padding-top: 5.93rem;
}
.game-search-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.56rem;
    row-gap: 1.5rem;
}
.game-search-category-container{
    width: 20.5rem;
}
.game-search-difficulty-container{
    width: 15.125rem;
}
.game-list-container{
    padding-top: 3.43rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.56rem;
    row-gap: 1.5rem;
}

@media (max-width: 690px) {
    .game-search-category-container{
        width: 100%;
    }
    .game-search-difficulty-container{
        width: 100%;
    }

}

@media (max-width: 518px) {
    .game-list-container{
        justify-content: center;
    }

}