$submit-button-color: hsl(115, 36%, 45%);
$submit-button-color-hover: hsl(115, 36%, 55%);

.entry-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}
.entry-form {
    display: flex;
    flex-direction: column;
    width: 30rem;
}
.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.entry-form-title {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 3.4375rem;
}

@media (max-width: 518px) {
    .entry-form {
        width: 22rem;
    }
}
