$submit-button-color: hsl(115, 36%, 45%);
$submit-button-color-hover: hsl(115, 36%, 55%);

.green-button{
    width: 9.375rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: $submit-button-color;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    border: solid 2px #3F3F3F;
    transition: background-color .3s ease-in-out;
    &:hover{
        background-color: $submit-button-color-hover;
    }
}